@media (min-width: 360px) {

		h1.nombre{
		width: 63%; 
		position:relative; 
		margin-left: 20%; 
		margin-top: 0%;
		padding: 10px 10px;
		text-align: center;
		letter-spacing: 30px; 
		font-size: 1.5em;
	}

	h1.mensaje{
		width: 290px; 
		position:relative; 
		margin-left: 11%; 
		margin-top: 215px;
		padding: 10px 10px;
		border: 1px solid grey;
		background-color: #5E99FF; 
		color: #fff; 
		text-align: center;
		border-radius: 6px;
		font-size: 35px;
	}

	img.logo{
		position: absolute;
		top: 10px;
		left: 30px;
		width: 12%;
	}

	img.fotoportada{
		position: absolute;
		top: 19%;
		left: 7%;
		width: 90%;
		border-radius: 6px;
	}
	}

@media (min-width: 360px) and (orientation:landscape) {

		h1.nombre{
		width: 63%; 
		position:relative; 
		margin-left: 20%; 
		margin-top: 0%;
		padding: 10px 10px;
		text-align: center;
		letter-spacing: 30px; 
		font-size: 2.5em;
	}

	h1.mensaje{
		width: 130px; 
		position:relative; 
		margin-left: 70%; 
		margin-top: 20px;
		padding: 10px 10px;
		border: 1px solid grey;
		background-color: #5E99FF; 
		color: #fff; 
		text-align: center;
		border-radius: 6px;
		font-size: 20px;
	}

	img.logo{
		position: absolute;
		top: 10px;
		left: 30px;
		width: 12%;
	}

	img.fotoportada{
		position: relative;
		float: left;
		top: 30px;
		left: 8%;
		width: 55%;
		border-radius: 6px;
	}

}


@media (min-width: 1000px) {

		h1.nombre{
		width: 63%; 
		position:relative; 
		margin-left: 20%; 
		margin-top: 0%;
		padding: 10px 10px;
		text-align: center;
		letter-spacing: 30px; 
		font-size: 9.5em;
	}

	h1.mensaje{
		width: 290px; 
		position:relative; 
		margin-left: 70%; 
		margin-top: 50px;
		padding: 10px 10px;
		border: 1px solid grey;
		background-color: #5E99FF; 
		color: #fff; 
		text-align: center;
		border-radius: 6px;
		font-size: 35px;
	}

	img.logo{
		position: absolute;
		top: 10px;
		left: 30px;
		width: 12%;
	}

	img.fotoportada{
		position: absolute;
		top: 30%;
		left: 8%;
		width: 59%;
		border-radius: 6px;
	}
	}

@media (min-width: 1400px){
h1.nombre{
	width: 63%; 
	position:relative; 
	margin-left: 20%; 
	margin-top: 0%;
	padding: 10px 10px;
	text-align: center;
	letter-spacing: 30px; 
	font-size: 9.5em;
}

h1.mensaje{
	width: 350px; 
	position:relative; 
	margin-left: 70%; 
	margin-top: 50px;
	padding: 10px 10px;
	border: 1px solid grey;
	background-color: #5E99FF; 
	color: #fff; 
	text-align: center;
	border-radius: 6px;
	font-size: 50px;
}

img.logo{
	position: absolute;
	top: 10px;
	left: 30px;
	width: 13%;
}

img.fotoportada{
	position: absolute;
	top: 30%;
	left: 8%;
	width: 60%;
	border-radius: 6px;
}
}

@media (min-width: 1600px){
h1.nombre{
	width: 63%; 
	position:relative; 
	margin-left: 20%; 
	margin-top: 0%;
	padding: 10px 10px;
	text-align: center;
	letter-spacing: 30px; 
	font-size: 9.5em;
}

h1.mensaje{
	width: 400px; 
	position:relative; 
	margin-left: 70%; 
	margin-top: 50px;
	padding: 10px 10px;
	border: 1px solid grey;
	background-color: #5E99FF; 
	color: #fff; 
	text-align: center;
	border-radius: 6px;
	font-size: 50px;
}

img.logo{
	position: absolute;
	top: 10px;
	left: 30px;
	width: 13%;
}

img.fotoportada{
	position: absolute;
	top: 30%;
	left: 8%;
	width: 60%;
	border-radius: 6px;
}
}

@media (min-width: 2500px){
h1.nombre{
	width: 63%; 
	position:relative; 
	margin-left: 20%; 
	margin-top: 0%;
	padding: 10px 10px;
	text-align: center;
	letter-spacing: 30px; 
	font-size: 16em;
}

h1.mensaje{
	width: 590px; 
	position:relative; 
	margin-left: 70%; 
	margin-top: 100px;
	padding: 10px 10px;
	border: 1px solid grey;
	background-color: #5E99FF; 
	color: #fff; 
	text-align: center;
	border-radius: 6px;
	font-size: 100px;
}

img.logo{
	position: absolute;
	top: 10px;
	left: 30px;
	width: 13%;
}

img.fotoportada{
	position: absolute;
	top: 30%;
	left: 8%;
	width: 60%;
	border-radius: 6px;
}
}