/*Hover sobre el menu logo usuario*/

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


/*Tamano y formatio de logo usuario */
#user-logo-size{
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  font-size:15px;
  
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
    color:black;
}

nav .dropdown-menu .col-lg-8 {
	color:black;
}

.open {
    background: white;
    color:black !important;


}




.open > ul >  .ilumina-blanco:hover /** Importante  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/{
    background: white;
    color:black;
}
.open > ul >  .ddd:hover /** Importante  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/{
    background: #E100E1;
    color:white;

}
.open .text-color-logout /** Importante  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/{
   
    color:#000 ;
}


/*side bar**/
body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 100px 0;
}

/* Profile sidebar */


.icon-size2
{
    font-size: 180px;
    color:black;
}

.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
.profile-userpic2 img {
  float: none;
  margin: 0 auto;
  width: 60%;
  height: 20%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;/**gris inactivo**/
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #ffe6ff;
  color: #b300b3;
}

.profile-usermenu ul li.active { /*Afecta a los li que tienen clase active*/
 border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li.active a {
  color: #b300b3;
  background-color: #ffe6ff;
  border-left: 2px solid #800080;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

/*target active button*/
.perfocult{display: none;}
.verperf{display: block;}
.busocult{display: none;}
.verbus{display: block;}
.compocult{display: none;}
.vercomp{display: block;}
.solocult{display: none;}
.versol{display: block;}

/**Bloque de info**/
/*Linea*/


.divider1 {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 10px 0;
  overflow: hidden;
  background-color: #737373;
  padding:0 -20% 15px -20%; 
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 10px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  padding:0 -20% 15px -20%; 
}
.text-center h2{
  color:black;
  padding-top:0px;
  padding-bottom:5px;
  font-family: 'Raleway', sans-serif;
}
/*columnas perfil*/
.margen-info{
  padding:0px 30px 0px 30px;
}

.col-md-12 p{
  margin-top:5px;
  font-size:20px;
}
.col-md-9 p{

  font-family: 'Raleway', sans-serif;
  font-size:14px;
}
.col-md-12.col-sm-12 p{
  font-size:18px;
  font-weight: 900;
}


.container-fluid .row.is-flex{
  padding-top:10px;
  padding-bottom:5px;
}

.btn-block{
  width:100%;
}

input{
  width:100%;
}
.templatemo-contact-map {
    margin-bottom: 15px;
    height: 0px;

}
label{
  font-size:17px;
}

.fondo-busqueda{
  padding:20px 0px 20px 0px;
  background-color: #F1F3FA;
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.3), 0 16px 30px 0 rgba(0, 0, 0, 0.1);

}

.fondo-busqueda p {
  font-size:17px;
  font-weight:900;
  color:black;

}
.fondo-busqueda ul li{
  font-size:17px;
  
  color:black;

}

.padding-ruta{
  padding:89px 89px 89px 89px;
  margin-left:20px;
}


.margin-bottom-busqueda{
  margin-bottom:40px;

}

.margin-bottom-busqueda2{
  margin-bottom:40px;
  margin-top:40px;

}

/**Map responsive**/
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}




/* responsive text queries */
@media screen and (max-width: 992px) {
  p,.btn,input,div,span,h4 {
    font-size: 95%;
  }
  h1 {
    font-size: 24px;  
  }
  h2 {
    font-size: 22px;  
  }
  h3 {
    font-size: 18px;  
  }
}

@media screen and (max-width: 768px) {
  p,.btn,input,div,span,h4,.fondo-busqueda p {
    font-size: 97%;
  }
  h1 {
    font-size: 20px;  
  }
  h2 {
    font-size: 18px;  
  }
  h3 {
    font-size: 16px;  
  }
}

form label{
 font-family: 'Raleway', sans-serif;
  font-size:14px;
  font-weight: 400;

}
/*Conductor mi ruta y horario*/
